.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.list {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item {
  margin-bottom: 10px;
}

.list:hover {
  border: 1px solid #007bff;
}
